/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        croc: croc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LT>, <&kp GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        slash: slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        comsqt: comma_apostrophe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AT>, <&kp SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        dotqt: dot_quotation {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COMMA>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        lines: underscore_pipe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UNDER>, <&kp PIPE2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        brace: brace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBRC>, <&kp RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        square: square_braket {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp RBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        brackets: brackets {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp RPAR>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        plusmin: plus_minus {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PLUS>, <&kp MINUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };  

        atpound: at_pound {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DQT>, <&kp HASH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

        prcntastk: percent_asterisk {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PRCNT>, <&kp ASTRK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

         equalhat: equals_caret {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp CARET>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

         backs: back_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BKSP>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

         tabec: tab_esc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp ESC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            };

         uppies: shift_caps {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
            mods = <(MOD_LCTL)>;
            }; 

   acop: a_copy {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp C_AC_COPY>;
            mods = <(MOD_LCTL)>;
            };

   opa: o_paste {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp O>, <&kp C_AC_PASTE>;
            mods = <(MOD_LCTL)>;
            };

        };


        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | N/A | ,(')| .(")|  P  |  Y  |  F  |      |  G  |  C  |  R  |  L  |tabec| N/A |
// | N/A |  A  |  O  |  E  |  U  |  I  |      |  D  |  H  |  T  |  N  |  S  | N/A |
// | N/A |upies|  Q  |  J  |  K  |  X  |      |  B  |  M  |  W  |  V  |  Z  | N/A |
//                    | CTRL | LWR | SPC |  |BK(DE)| RSE | ENT |
                        bindings = <
   &none &tog 2 &dotqt &kp P &kp Y &kp F &kp G &kp C  &kp R &kp L &tog 1 &none
   &none &acop &opa &kp E &kp U &kp I &kp D &kp H  &kp T &kp N &kp S &none
   &none &uppies &kp Q &kp J &kp K &kp X &kp B &kp M  &kp W &kp V &kp Z &none
   &kp LCTRL &mo 1 &kp SPACE &backs &tog 2 &kp RET
 
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | N/A | £($)|  #  |  &  |  ~  |  @  |      |  1  |  2  |  3  | +(-)|     | N/A |
// | N/A | ESC |  ;  |  :  |  !  |  ?  |      |  4  |  5  |  6  | %(*)| <(>)| N/A |
// | N/A |cmsqt| _(|)| {(})| [(])| (())|      |  7  |  8  |  9  | =(^)| /(\)| N/A |
//                    | CTRL | LWR | SPC |  |BK(DE)| RSE | ENT |
                        bindings = <
   &trans &trans &kp DOUBLE_QUOTES &kp AMPS &kp PIPE &atpound &kp N1 &kp N2 &kp N3 &plusmin &trans &trans
   &trans &comsqt &kp SINGLE_QUOTE &kp COLON &kp EXCL &kp QMARK &kp N4 &kp N5 &kp N6 &prcntastk &croc &trans
   &trans &uppies &lines &brace &square &brackets &kp N7 &kp N8 &kp N9 &equalhat &slash  &trans
   &trans &trans &trans &trans &trans &kp N0
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | N/A |     |     |  ⬆  |     |     |      |  V+ |  V- |  Vx |PSCN | N/A |
// | N/A |     |  ⬅ |  ⬇  |  ⮕ |     |      |  S⬆ |  S⬇ | FIND|  B+ |  B- | N/A |
// | N/A |     |     |     |     |     |      |     |     |     |     |     | N/A |
//                    | CTRL | LWR | SPC |  |BK(DE)| RSE | ENT |
                        bindings = <
   &trans &trans &trans &kp UP  &trans &trans   &kp C_VOL_UP &kp C_VOL_DN &kp C_MUTE &kp PSCRN &trans &trans
   &trans &tabec &kp LEFT &kp DOWN &kp RIGHT &trans  &kp C_AC_SCROLL_UP  &kp C_AC_SCROLL_DOWN &trans &kp C_BRI_UP &kp C_BRI_DN &trans
   &trans &kp LC(C) &kp LC(V) &kp LC(Z) &kp LC(Y) &trans   &trans &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans
                        >;
                };
        };
};
